:root {
    --main-font: 'Short Stack', cursive;
    --color-1: #b81895;
    --color-2: #2a9a9f;
    --color-3: #dbf111;
    --color-4: #35e811;
    --color-5: #f9002f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}

header {
    background: antiquewhite;
    line-height: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    background: linear-gradient(219deg,
            var(--color-4) 15%,
            transparent 15%, transparent 16%,
            var(--color-2) 16%, var(--color-2) 31%,
            transparent 31%, transparent 32%,
            var(--color-3) 32%, var(--color-3) 47%,
            transparent 47%, transparent 48%,
            var(--color-1) 48%, var(--color-1) 63%,
            transparent 63%, transparent 64%,
            var(--color-5) 64%, var(--color-5) 79%,
            transparent 79%, transparent 80%,
            var(--color-4) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table {
    position: relative;
}

.records {
    display: block;
    visibility: hidden;
    position: absolute;
    content: "";
    top: -400px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.8s;
}
.records1 {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 30px;
    top: -30px;
    z-index: 2;
    background-color: antiquewhite;
}

.records>span {
    display: inline-block;
    padding-top: 5px;
    color: var(--color-3);
}

.records.active {
    display: block;
    visibility: initial;
    top: 25px;
    transition: 0.8s;
}

header p {
    position: relative;
    background-color: var(--color-4);
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}

header p:hover {
    cursor: pointer;
}

main {
    display: grid;
    background-color: lavender;
    min-height: calc(100vh - 100px);
}

.container {
    position: relative;
    padding-top: 30%;
    width: 30%;
    margin: auto;
}

/* .container::before {
    display: block;
    content: "";
    width: 100%;
} */

.game-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.winner {
    background-color: red;
}

.sell.draw {
    color: red;
}

.sell {
    display: grid;
    place-items: center;
    border: 1px solid #fff;
    font-size: 80px;
    color: #fff;
}

.wrapper-interface {
    display: none;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 5px solid var(--color-3);
}

.modal-btn {
    background-color: var(--color-1);
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    border: 2px solid var(--color-3);
    box-shadow: 2px 2px 3px #000;
    font-family: var(--main-font);
    transition: 0.5s;
}

.modal-btn:hover {
    cursor: pointer;
    color: #000;
}

footer {
    background-color: antiquewhite;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.git>a {
    text-decoration: none;
    color: var(--color-5);
}

.git>span {
    color: var(--color-4)
}

.rss {
    background-image: url('./assets/svg/rss.svg');
    width: 200px;
    height: 40px;
}

.rss>a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .container {
        width: 50%;
        padding-top: 50%;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 100%;
        padding-top: 100%;
    }
}

@media screen and (max-width: 400px) {
  h1 {
      font-size: 1.2em;
  }
}